# Blog settings
permalink: /:title/
url: https://blog.ankitrgadiya.in

# My variables
name: Ankit's Blog
description: The personal blog of Ankit R Gadiya
google_verification: d-betUTe-rYNnjpdDvm56ohoagIClOGA70fnHKYU4ec


# File management
include: [".htaccess"]
exclude: ["README.md", "LICENSE"]


# Sass
sass:
  style: :compressed
  sass_dir: _sass


# Markdown
markdown: kramdown
kramdown:
  input: GFM
  hard_wrap: false
highlighter: rouge
