---
layout: default
title: Tags
permalink: /tags/
---

  <!-- Tags body -->
  <div class="container body">
    <div class="row posts">
      <div class="col-md-8 col-md-offset-2">
        <h2>Tags</h2>

        {% for tag in site.tags %}

          {% assign tag_name = tag | first %}
          {% assign tag_posts = tag | last %}

          <div class="panel panel-default">

            <div class="panel-heading">
              {{ tag_name | capitalize | replace: "-", " " }}
              <span class="badge">{{ tag_posts | size}}</span>
            </div>
            <div class="panel-body">
              <ul>
                {% for post in tag_posts %}

                  {% if post.tags contains tag_name %}
                    <li>
                      <a href="{{ post.url }}">{{ post.title }}</a>
                      <span class="date">
                        {{ post.date | date: "%B %-d, %Y"  }}
                      </span>
                    </li>
                  {% endif %}

                {% endfor %}
              </ul>
            </div>

          </div>

        {% endfor %}

      </div>
    </div>
  <!-- Tags body ends here -->
