<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ankit | Blog {% if page.title %}- {{page.title}}{% endif %}</title>

  <link rel=icon href=/favicon.ico>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  <link href="/assets/css/main.css" rel="stylesheet">
</head>
<body>

  <!-- Header -->
  <header class="jumbotron">

    <!-- Logo -->
    <a href="/">
      <img src="/assets/images/logo.png" alt="logo" class="logo">
    </a>

    <h1 class="text-center">Ankit R Gadiya</h1>

    <div class="navigation text-center">
      <ul class="list-inline">
        <li><a href="https://ankitrgadiya.in">HOME</a></li>
        <li class="active"><a href="/">BLOG</a></li>
        <li><a href="https://argp.in">PROJECTS</a></li>
      </ul>
    </div>

  </header>
  <!-- Header ends here -->

  {{ content }}

  <!-- Footer -->
  <footer class="jumbotron">
    <div class="container">
      <hr>
      <div class="row">

        <!-- Column 1 -->
        <div class="col-sm-4 col-md-4">
          <div class="copyright">
            <p class="text-center">
              &copy; 2017 <a href="https://ankitrgadiya.in">Ankit R Gadiya</a>
            </p>
          </div>
          <div class="sitemap text-left">
            <ul>
              <li><a href="/archive/">Archive</a></li>
              <li><a href="/tags/">Tags</a></li>
            </ul>
          </div>
        </div>

        <!-- Column 2 -->
        <div class="col-sm-4 col-md-4">
          <div class="social text-center">
            <ul class="list-inline">
              <li>
                <a href="https://facebook.com/ankit.r.gadiya/"
                alt="facebook-link" class="fa fa-facebook"></a>
              </li>
              <li>
                <a href="https://twitter.com/ankit4922"
                alt="twitter-link" class="fa fa-twitter"></a>
              </li>
              <li>
                <a href="https://github.com/ankitrgadiya"
                alt="github-link" class="fa fa-github"></a>
              </li>
              <li>
                <a href="https://goo.gl/JkKzYv"
                alt="youtube-link" class="fa fa-youtube-play"></a>
              </li>
              <li>
                <a href="https://instagram.com/ankitrgadiya"
                alt="instagram-link" class="fa fa-instagram"></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/ankitrgadiya/"
                alt="linkedin-link" class="fa fa-linkedin"></a>
              </li>
              <li>
                <a href="mailto:me@argp.in"
                alt="email" class="fa fa-envelope"></a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Column 3 -->
        <div class="col-sm-4 col-md-4">
          <div class="powered text-center">
            <p>
              Hosted on <a href="https://pages.github.com">Github Pages</a>
            </p>
          </div>
        </div>

      </div>
    </div>
  </footer>
  <!-- Footer ends here -->
</body>
</html>
